<div class="wrapper-only">
    <div flex-container="row" flex-gutter="24">
        <div flex-item>
            <h3 class="features-header__title">
                Account Login
            </h3>
        </div>
    </div>

    <div class="mt++ account-login" flex-container="row" flex-gutter="24">
        <div flex-item="8">
            <form novalidate ng-submit="apiAuthentication(accountLogin.loginUsername, accountLogin.loginPassword)">
                <lx-text-field label="Username" fixed-label="true" icon="account">
                    <input type="text" ng-model="accountLogin.loginUsername">
                </lx-text-field>

                <lx-text-field label="Password" fixed-label="true" icon="security">
                    <input type="password" ng-model="accountLogin.loginPassword">
                </lx-text-field>

                <div class="action-buttons">
                    <input type="submit" class="btn btn--m btn--blue btn--raised" value="Log in">
                </div>
            </form>
        </div>

        <div flex-item="4">
            <p>In order to log in, simply provide your Active Directory login - the same one you use for your Windows account, your email and time logging.</p>
        </div>
    </div>
</div>
