///*------------------------------------*\
//    #MODULES-HOME-BANNER
//\*------------------------------------*/

// Banner base styles
.banner {
  background: url('../include/images/header/header.png') repeat 0 0 #F27D1E;
  padding: 60px 0;
  color: white;
  text-align: center;
}

// Banner title
.banner__title {
  margin: 0;

  h1 {
    @include font-size(50px);

    display: block;
    margin: 0 auto;
    text-shadow: 1px 1px 2px $black-3;
  }
}

// Banner subtitle
.banner__subtitle {
  font-weight: 300;

  @include media-query(desk) {
    margin: 40px;
    @include font-size(32px);
    line-height: 40px;
  }

  @include media-query(portable) {
    margin: 20px;
    @include font-size(24px);
    line-height: 32px;
  }
}

// Banner download button
.banner__dl-btn {

  &:hover {
    color: $white;
    background-color: $red;
  }
}

// Banner version
.banner__version {
  display: block;
  margin-top: $base-spacing-unit * 1.5;
  @include font-size(14px);
  color: rgba(255,255,255,0.8);
}
