<div class="sidebar-filter" ng-class="{ 'sidebar-filter--is-shown': Sidebar.isSidebarShown() }" ng-click="Sidebar.toggleSidebar()"></div>

<div class="sidebar" ng-class="{ 'sidebar--is-shown': Sidebar.isSidebarShown() }">
    <div class="sidebar-menu">
        <ul>
            <li>
                <a ui-sref="account_dashboard" class="sidebar-menu__link" ng-click="Sidebar.toggleSidebar()">Dashboard</a>
            </li>
            <li>
                <a href="/account/information" class="sidebar-menu__link" ng-click="Sidebar.toggleSidebar()">Profile Information</a>
            </li>
            <li>
                <a href="/account/work-experience" class="sidebar-menu__link" ng-click="Sidebar.toggleSidebar()">Work Experience</a>
            </li>
            <li>
                <a href="/account/export" class="sidebar-menu__link" ng-click="Sidebar.toggleSidebar()">Export Data</a>
            </li>
        </ul>
    </div>
</div>
